In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import copy
from pandas.plotting import register_matplotlib_converters
from sklearn import linear_model
from sklearn.metrics import r2_score
import copy
import os

In [2]:
watershed = 'DryCreek'

In [3]:
table = pd.read_csv('4_'+watershed+'_ClimateCatalog.csv',header = 0,index_col = 'DateTime',
                    parse_dates = True, infer_datetime_format = True,low_memory=False)

In [4]:
table_flag = pd.read_csv('4_'+watershed+'_ClimateCatalog_Flag.csv',header = 0,index_col = 'DateTime',
                    parse_dates = True, infer_datetime_format = True,low_memory=False)

In [5]:
table = copy.deepcopy(table.loc['1999-01-01':'2019-12-31']) # cut to the length of discharge record
table.head(2)

,TL_Discharge,BSG_Discharge,LG_Discharge,C1E_Discharge,C1W_Discharge,C2E_Discharge,C2M_Discharge,BRW_Precipitation,LDP_Precipitation,SCR_Precipitation,...,LS_SoilTemperature_Pit1_30cm,LS_SoilTemperature_Pit2_2cm,LS_SoilTemperature_Pit2_15cm,LS_SoilTemperature_Pit2_30cm,LS_SoilTemperature_Pit3_2cm,LS_SoilTemperature_Pit3_15cm,LS_SoilTemperature_Pit3_30cm,LS_SoilTemperature_Pit4_2cm,LS_SoilTemperature_Pit4_15cm,LS_SoilTemperature_Pit4_30cm
DateTime,,,,,,,,,,,,,,,,,,,,,
1999-01-01,NaN,NaN,7.636792,29.606656,NaN,2.169073,217.072885,NaN,NaN,NaN,...,7.416064,4.911765,6.497507,7.179774,4.824208,7.195240,7.837034,5.403277,6.128272,6.495671
1999-01-02,NaN,NaN,44.185813,8.396678,NaN,2.251513,9.084700,NaN,NaN,NaN,...,7.286968,4.758782,6.352038,7.046998,4.669668,7.051027,7.709140,5.255897,5.992621,6.367365

In [6]:
table_flag = copy.deepcopy(table_flag.loc['1999-01-01':'2019-12-31'])
table_flag.head(2)

,TL_Discharge,BSG_Discharge,LG_Discharge,C1E_Discharge,C1W_Discharge,C2E_Discharge,C2M_Discharge,BRW_Precipitation,LDP_Precipitation,SCR_Precipitation,...,LS_SoilTemperature_Pit1_30cm,LS_SoilTemperature_Pit2_2cm,LS_SoilTemperature_Pit2_15cm,LS_SoilTemperature_Pit2_30cm,LS_SoilTemperature_Pit3_2cm,LS_SoilTemperature_Pit3_15cm,LS_SoilTemperature_Pit3_30cm,LS_SoilTemperature_Pit4_2cm,LS_SoilTemperature_Pit4_15cm,LS_SoilTemperature_Pit4_30cm
DateTime,,,,,,,,,,,,,,,,,,,,,
1999-01-01,NaN,NaN,4.0,4.0,NaN,4.0,4.0,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1999-01-02,NaN,NaN,4.0,4.0,NaN,4.0,4.0,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0

In [7]:
table.tail(3)

,TL_Discharge,BSG_Discharge,LG_Discharge,C1E_Discharge,C1W_Discharge,C2E_Discharge,C2M_Discharge,BRW_Precipitation,LDP_Precipitation,SCR_Precipitation,...,LS_SoilTemperature_Pit1_30cm,LS_SoilTemperature_Pit2_2cm,LS_SoilTemperature_Pit2_15cm,LS_SoilTemperature_Pit2_30cm,LS_SoilTemperature_Pit3_2cm,LS_SoilTemperature_Pit3_15cm,LS_SoilTemperature_Pit3_30cm,LS_SoilTemperature_Pit4_2cm,LS_SoilTemperature_Pit4_15cm,LS_SoilTemperature_Pit4_30cm
DateTime,,,,,,,,,,,,,,,,,,,,,
2019-12-29,NaN,NaN,47.429583,27.412000,NaN,12.409986,43.751687,0.325668,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-30,NaN,NaN,47.287917,27.343754,NaN,12.373528,43.627267,0.324064,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-31,NaN,NaN,52.982500,30.087042,NaN,13.839063,48.628578,0.322460,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
table.to_csv('5_'+watershed+'_final_cleaned.csv', sep=',')

In [9]:
table_flag.to_csv('5_'+watershed+'_final_cleaned_flag.csv', sep=',')

### Track the exact time range

In [10]:
result = copy.deepcopy(table)

In [11]:
var_array = pd.Series([i.split('_')[1] for i in result.columns]).unique()
for var in var_array:
    #var = 'SoilMoisture'
    #print(var)
    var_column = []
    for k in result.columns:
        if k.split('_')[1] == var:
            var_column.append(k)
    var_table = result[var_column]
    #display(var_table.head(2))
    for i in range(var_table.shape[0]):
        
        if any(var_table.iloc[i,:].notnull()) == True: # Any one of them is true
            print(var)
            #print(var_table.iloc[i,:])
            start = var_table.index[i]
            break
            
    for i in range(1,var_table.shape[0]):
        if any(var_table.iloc[-i,:].notnull()) == True: # Since some are empty
            print(var)
            over = var_table.index[-i]
            break
            
    print(var, str(start)[:-9], ',',str(over)[:-9])

Discharge
Discharge
Discharge 1999-01-01 , 2019-12-31
Precipitation
Precipitation
Precipitation 1999-01-01 , 2019-12-31
AirTemperature
AirTemperature
AirTemperature 1999-01-01 , 2019-12-31
SolarRadiation
SolarRadiation
SolarRadiation 2000-01-01 , 2019-12-31
RelativeHumidity
RelativeHumidity
RelativeHumidity 1999-01-01 , 2019-12-31
WindDirection
WindDirection
WindDirection 1999-01-01 , 2019-12-31
WindSpeed
WindSpeed
WindSpeed 1999-01-01 , 2019-12-31
SnowDepth
SnowDepth
SnowDepth 1999-01-01 , 2019-12-31
SoilMoisture
SoilMoisture
SoilMoisture 1999-01-01 , 2018-05-21
SoilTemperature
SoilTemperature
SoilTemperature 1999-01-01 , 2018-05-21

In [12]:
result.head()

,TL_Discharge,BSG_Discharge,LG_Discharge,C1E_Discharge,C1W_Discharge,C2E_Discharge,C2M_Discharge,BRW_Precipitation,LDP_Precipitation,SCR_Precipitation,...,LS_SoilTemperature_Pit1_30cm,LS_SoilTemperature_Pit2_2cm,LS_SoilTemperature_Pit2_15cm,LS_SoilTemperature_Pit2_30cm,LS_SoilTemperature_Pit3_2cm,LS_SoilTemperature_Pit3_15cm,LS_SoilTemperature_Pit3_30cm,LS_SoilTemperature_Pit4_2cm,LS_SoilTemperature_Pit4_15cm,LS_SoilTemperature_Pit4_30cm
DateTime,,,,,,,,,,,,,,,,,,,,,
1999-01-01,NaN,NaN,7.636792,29.606656,NaN,2.169073,217.072885,NaN,NaN,NaN,...,7.416064,4.911765,6.497507,7.179774,4.824208,7.195240,7.837034,5.403277,6.128272,6.495671
1999-01-02,NaN,NaN,44.185813,8.396678,NaN,2.251513,9.084700,NaN,NaN,NaN,...,7.286968,4.758782,6.352038,7.046998,4.669668,7.051027,7.709140,5.255897,5.992621,6.367365
1999-01-03,NaN,NaN,14.198833,11.403536,NaN,3.857854,14.566528,NaN,NaN,NaN,...,6.132923,3.391208,5.051635,5.860064,3.288174,5.761847,6.565849,3.938403,4.779984,5.220381
1999-01-04,NaN,NaN,6.008958,7.458175,NaN,10.217046,38.344720,NaN,NaN,NaN,...,6.050771,3.293856,4.959064,5.775570,3.189830,5.670075,6.484462,3.844616,4.693661,5.138731
1999-01-05,NaN,NaN,66.218695,18.509001,NaN,1.264145,14.225987,NaN,NaN,NaN,...,6.528037,3.859428,5.496858,6.266438,3.761160,6.203227,6.957281,4.389477,5.195158,5.613077

In [13]:
result.tail()

,TL_Discharge,BSG_Discharge,LG_Discharge,C1E_Discharge,C1W_Discharge,C2E_Discharge,C2M_Discharge,BRW_Precipitation,LDP_Precipitation,SCR_Precipitation,...,LS_SoilTemperature_Pit1_30cm,LS_SoilTemperature_Pit2_2cm,LS_SoilTemperature_Pit2_15cm,LS_SoilTemperature_Pit2_30cm,LS_SoilTemperature_Pit3_2cm,LS_SoilTemperature_Pit3_15cm,LS_SoilTemperature_Pit3_30cm,LS_SoilTemperature_Pit4_2cm,LS_SoilTemperature_Pit4_15cm,LS_SoilTemperature_Pit4_30cm
DateTime,,,,,,,,,,,,,,,,,,,,,
2019-12-27,NaN,NaN,48.209583,27.787754,NaN,12.610724,44.436728,0.417391,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-28,NaN,NaN,43.003333,25.279714,NaN,11.270865,39.864299,0.327273,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-29,NaN,NaN,47.429583,27.412000,NaN,12.409986,43.751687,0.325668,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-30,NaN,NaN,47.287917,27.343754,NaN,12.373528,43.627267,0.324064,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-31,NaN,NaN,52.982500,30.087042,NaN,13.839063,48.628578,0.322460,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN